/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  	padding-bottom: 40px;
  	color: #5a5a5a;
	font-family: 'open_sanslight';
	font-size:16px;
  	text-rendering: optimizeLegibility;
	text-rendering: optimizeSpeed;
}

.servicios-h2tic{
padding-bottom:30px;
text-align:center;
}
.servicios-h2tic h3{
	margin-top:50px;
}

.redes_heder{
margin-left:0px;
padding-left:0px;
}

.redes_heder > li{
width:30px;
height:30px;
float:left;
list-style-type:none;
display:block;
margin-right:10px;
}
.redes_heder > li > img{
display:block;
margin:-2px;
}

.jumbotron{
margin-bottom:0px;
}
.jumbotron_header{
background-color:#FFFFFF;
border-bottom:3px solid #003D5B;
padding: 10px 0px 25px 0px;
}

.jumbotron_carousel{
background-color: #00a9af;
 margin-top:-15px;
}

.jumbotron_blog{
text-align:center;
padding:0;
background-color: transparent; 
margin-top:-12px;
}

.boton_newsletter{
background-color:#FFFFFF;
border:solid 3px #003D5B;
border-radius:50px;
padding: 3px 10px 3px 10px;
font-family: 'bariol_boldbold';
}

.boton > .azul{
margin-right:5px;
}

.boton_slider{
background-color:#FFFFFF;
border:solid 3px #003D5B;
border-radius:50px;
padding: 8px 18px 8px 18px;
color:#00adb8 !important; 
font-family: 'bariol_boldbold';

}

.boton_slider:hover {

color:#003D5B !important; 
}

.boton_blog{
color:#003D5B !important; 
background-color:#FFFFFF;
border:solid 3px #00adb8;
border-radius:50px;
padding: 4px 10px 4px 10px;
font-family: 'bariol_boldbold';

}

.boton_blog:hover {

color:#fff !important;
text-decoration:none;
background-color:#003D5B;
}

.boton_servicio{
width:80px;
height:80px;
border-radius:100px;
border:solid 3px #003D5B;
background-color:#FFFFFF;
overflow:hidden;
display:block;
margin:auto;
padding:10px;
}

.entrada_blog{
width:80px;
height:80px;
border-radius:100px;
border:solid 3px #00adb8;
background-color:#FFFFFF;
overflow:hidden;
display:block;
margin:auto;
padding:10px;
}

.iconos_otros_servicios{
border-radius:100px;
border:solid 3px #00adb8;
background-color:#003D5B;
overflow:hidden;
display:block;
margin:auto;
padding:20px;
}

p{
	font-family: 'open_sanslight';
}

h1{
	font-family: 'bariol_boldbold';
}

h2{
	font-family: 'open_sansregular';
}

h3{
	font-family: 'bariol_boldbold';
}




.blog_inicio > .container > h2{
font-family: 'bariol_boldbold';
font-size:50px;

}

input, textarea {
	font-family: 'bariol_lightlight';
}

a {
  color: #00adb8;
  text-decoration: none;
}

a:hover{
  color: #003D5B;
  text-decoration: underline;
}

.email{
  color: #003D5B;
}

.email:hover{
  color: #003D5B;
  text-decoration: underline;
}

.email2{
  color: #fff;
}

.email2:hover{
  color: #fff;
  text-decoration: underline;
}


.datos{
padding-top:15px;text-align:right; font-size:16px;font-weight:bold; color:#003D5B;
}

.datos span{
color:#09a8ae;
}

.footer{
color: #00adb8;
padding:10px;
}

.zona_azul{
background-color:#003D5B;
color:#fff; 
padding:20px; 
margin-top:20px; 
border-bottom-color:#00adb8; 
border-bottom-width:4px; 
border-bottom-style:solid;
}

.zona_azul h3{
color:#00adb8;
}

.zona_azul ul{
color:#00adb8;
}

.zona_azul > .container > .row > div > .enlaces {
padding-left:15px !important;
}

.zona_azul > .container > .row > div > .enlaces {
padding-left:15px !important;
}

.enlaces li a{
color:#ffffff;
}

.azul{
color: #003D5B;
border: 1px solid #fff;
border-radius: 15px;
background-color:#FFFFFF;
}



.social li {
margin-top:10px;
list-style:none;
}

.social li a{
color:#ffffff;
}



.blog_inicio{
background-color:#003D5B;
text-align:center;
padding:20px;
border-bottom: 3px solid #00adb8;

}

.blog_inicio a{
color:#ffffff;
}

.blog_inicio h2{
color:#ffffff;
}
.blog_inicio h2 span{
color:#67afb4;
}

.blog_inicio h3{
color:#67afb4;
}

.jumbotron_cenefa{
background-image:url(../imagenes/redon.png);
background-repeat:repeat-x;
background-color:#00adb8;
text-align:center;
padding:5px;

}

.servicios{
background-color:#fff;
text-align:center;
margin-top:-1px;
padding-top:10px;

}

.servicios h2{
color:#67afb4;
}

.clientes{
padding-top:30px; 
padding-bottom:20px;
}
.clientes h1{
color:#003D5B;
}
.clientes h3{
color:#003D5B;
}
.clientes p{
color:#00adb8;
}

.zona_twitter{
background-color:#00adb8;
border: 1px solid #003D5B;
border-bottom-left-radius:-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px; 
padding:15px;
margin-top:40px;
color:#003D5B;
}
.zona_facebook{
background-color:#003D5B;
border: 1px solid #00adb8;
border-bottom-left-radius:-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px; 
padding:15px;
margin-top:40px;
color:#00adb8;
}


/* SERVICIOS */
.jumbotron_seccion{
background-color:#FFFFFF;
padding: 10px 0px 25px 0px;
}


.jumbotron_seccion2{
background-color:#00adb8;
padding: 10px 0px 25px 0px;
border-bottom:3px solid #003D5B;

}


.jumbotron_seccion2 h1{
color:#FFFFFF;
font-size:50px;
}

.jumbotron_seccion3{
margin-top:-27px;
padding: 10px 0px 25px 0px;
background-color: transparent;
}


.quienes h2{
font-size:30px;
color:#00adb8;
}

.quienes p{
margin-top:10px;
}


@media screen and (min-width: 468px) {
.cabecera{

background-image:url(../imagenes/servicio-bg2.png); 

}
.cabecera h1{
font-size:30px;
}

.quienes h2{
font-size:20px;
color:#00adb8;
}

}


.servicio{
margin-top:40px;
}

.servicio h1{
color:#003D5B;
}
.servicio h2{
color:#00adb8;
}


.servicio a{
color:#00adb8;
font-weight:bold;
}

.servicio a:hover{
font-weight:bold;
text-decoration:underline;
}


.servicio p{
color:#003D5B;
}

.servicio ul{
list-style: none;
    padding:0;
    margin:0;
}

.servicio li { 
font-size:20px;
    padding-left: 1em; 
    text-indent: 2.7em;
	color:#003D5B;

}

.servicio li:before {
font-size:20px;
vertical-align:middle;
letter-spacing:3px;;
content:"\002022"; 
color:#00adb8;
}

.otros_servicios{
margin-top:30px;

color:#003D5B;

}

.otros_servicios h1{
color:#003D5B;
}
.otros_servicios h2{
color:#00adb8;
}
.otros_servicios h3{
color:#003D5B;
}
.form-group{
	color:#003D5B !important

}
.form-control{
	border-radius:8px !important;
	border:1px solid #00adb8 !important;
	color:#003D5B !important

}
::-webkit-input-placeholder { 
    color: #00adb8; text-overflow: ellipsis; 
}
:-moz-placeholder { 
    color: #00adb8 !important; text-overflow: ellipsis; 
}
::-moz-placeholder { 
    color: #00adb8 !important; text-overflow: ellipsis; 
} /* for the future */
:-ms-input-placeholder { 
    color: #00adb8 !important; text-overflow: ellipsis; 
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  /*padding: 3px 0px 3px 3px;*/
  margin: 5px 1px 3px 0px;
}
 
input[type=text]:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 20px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 6px 0px 3px 20px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
  
   -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.condiciones{
margin-top:20px !important;
margin-bottom:20px !important;
color:#003D5B;
}
.condiciones :hover{
color:#00adb8;
}
.check_condiciones{
font-weight:100;
font-family:'open sans';
text-decoration:underline;
}

legend{
border-color:#FFFFFF;
width:auto;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #00adb8;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #003D5B;
  outline: 0;
}



.btn-enviar {
  color:  #003D5B;
  background-color: #00adb8;
  border-color: #003D5B;
}
.btn-enviar:hover,
.btn-enviar:focus,
.btn-enviar:active,
.btn-enviar.active,
.open .dropdown-toggle.enviar {
  color: #00adb8;
  background-color: #003D5B;
  border-color: #00adb8;
}



.blog h1{
color:#00adb8;
}
.blog h2{
color:#00adb8;
}


.blog a{
color:#00adb8;
font-weight:bold;
}

.blog a:hover{
font-weight:bold;
text-decoration:underline;
}


.blog p{
color:#003D5B;
}

.blog ul{
list-style: none;
    padding:0;
    margin:0;
}

.blog li { 
    padding-left: 1em; 
    text-indent: 2.7em;
	color:#003D5B;

}

.blog li:before {
font-size:20px;
vertical-align:middle;
letter-spacing:3px;;
content:"\002022"; 
color:#00adb8;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}



.nav-pills > li {
float:left
}
.nav-pills > li > a { 
border: 1px solid #00adb8;

border-bottom-left-radius:-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px; 
}
.nav-pills > li+li {
margin-left:2px
}

.nav-pills > li > a:hover{
	color:#fff;
	background-color:#003D5B!important;
	color:#FFFFFF!important;
	text-decoration: none!important;
}
.nav-pills > li.active > a , .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
color:#fff;
background-color:#003D5B;
}
.nav-stacked > li {
float:none
}
.nav-stacked > li+li{
margin-top:2px;
margin-left:0
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
}

.carousel a{
color:#FFFFFF;}
/* Since positioning the image, we need to help out the caption 
.carousel-caption {
  z-index: 10;
}
*/

.carousel-caption {
  position: absolute;
  right: 0%;
  bottom: 20px;
  left: 0%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .0);
}

.carousel-caption p{
font-size:16px;
color:#003D5B;
}


/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #09a8ae;
}

/* Declare heights because of positioning of img element */
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-indicators {
  width: 80%;
  margin-left: -40%;
  bottom: 0px;
  left: 50%;
  padding-left: 0;
  text-align: center;
  list-style: none;

}

.carousel-indicators li {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 1px 4px 1px 4px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 14px;
  height: 14px;
  margin: 1px 4px 1px 4px;
  background-color: #fff;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */

.carousel-inner > .item  {
padding:0;
}

}


@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
    /*right: 20%;
    left: 20%;*/
	right: 0%;
    left: 0%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
  
 
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


.btn-h2tic {
  color: #67afb4;
  background-color: #fff;
  border-color: #67afb4;
}
.btn-h2tic:hover,
.btn-h2tic:focus,
.btn-h2tic:active,
.btn-h2tic.active,
.open .dropdown-toggle.btn-h2tic {
  color: #003D5B;
  background-color: #67afb4;
  border-color: #003D5B;
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .0) 0%), color-stop(rgba(0, 0, 0, .0000) 100%));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0000) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .0000) 0%), color-stop(rgba(0, 0, 0, .0) 100%));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0000) 0%, rgba(0, 0, 0, .0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  

  /* Bump up size of carousel content */

  .carousel-caption h1 {
   
  	text-align: left;
  	text-shadow: 0 1px 2px rgba(0, 0, 0, .0);
  }
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
	color:#003D5B;
  	text-align: left;
  	text-shadow: 0 1px 2px rgba(0, 0, 0, .0);
	font-family: "open_sanslight";
  }


  .featurette-heading {
    font-size: 50px;
  }
}


@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.nav > li > a {
  text-decoration: none;
  background-color: #ffffff;
  color:#09a8ae;
}
.nav > li:last-child > a{
  padding: 10px 0px 10px 15px;
}


 
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #ffffff;
  text-decoration:underline;
  color:#003D5B;
}
.nav > li.disabled > a {
  color: #999;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #999;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #428bca;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
